body{
    line-height: 1.7;
    color:rgba(0,0,0,0.5);
    font-weight: 400;
    font-size: 1rem;
}

h1{
    color:rgb(233, 144, 163);
    font-size: 3em;
    font-family: 'Lobster', cursive;
}

h2{
    color:rgb(212,212,212);
    font-size: 2em;
    font-family: 'Merriweather', serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 3;
    margin-bottom: 0.5rem;
    text-align: center;
}

a {
    text-decoration : none;
}

a:hover {
    text-decoration: none;
}

.menu {
    border-bottom: 1px solid grey;
}

ul {
    font-family:'Texturina', serif;
    margin-bottom: 4;
    padding-inline-start: 4px;
}

.img-fluid{
    width: 100%;
    height: 200px;
}

p { 
    background: rgb(213,201,189); color:rgb(204, 53, 33);
    width: 800px;
    border: 10px dashed rgb(224, 205, 26);
    padding: 10px;
    margin: 20px 150px;
    text-align: center;
    font-family:'Texturina', serif;
    font-size: 4em;
    
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; 
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; 
    width:90%; 
    padding: 10% 5%;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
